/* --------------------
Index Page
----------------------- */


*{
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

.section{
    padding:20px 0;
    font-family: Righteous;
}

.yellow-text{
    color: #ffd900
}


/* Navbar */
nav{
    z-index: 4;
   
}

.navbar-brand img{
    height:50px;
    padding-bottom: 15px;
}

nav a{
    font-size: 15px
}


nav.navbar ul li a:hover {
    color: #000;
  }
  nav.navbar ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: rgb(255, 208, 0);
    visibility: none;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s ease;
  }
  nav.navbar ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }

/* End Of Navbar */
/* Banner Video */
.v-header{
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.container{
    /* max-width: 960px; */
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrap{
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

.fullscreen-video-wrap video{
    min-width: 100%;
    min-height: 100%;

}

.header-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    z-index: 1;
    opacity: 0.80;
    overflow-x: hidden

}

.header-content{
    z-index: 2;
}

.header-content h1{
    font-size: 70px;
    margin-bottom: 0;
    font-family: Monoton;
    color:  #ffd900;
}


.header-content p{
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
}



/* End Of Banner Video */


/* About Section */

.section-b{
    background: #333;
    color:#fff;
}


.section-b p{
    font-size: 20px;
    font-family: Roboto;
    margin-top: 50px;
}

.section-b #what{
    margin: 60px 0;
    text-align: center;
}

.section-b #about{
    margin-top: 30px;
    color: #000;
}

.section-b .panel{
    padding: 60px 0;
}

.fa{
    margin-top: 30px;
    margin-bottom: 0;
}

.section-b .panel p{
    margin: 30px;
    font-size: 15px;
    text-align: justify;
}

.section-b .panel:hover{
    background: #ffd900;
    cursor: pointer;
}

.section-b .panel:hover .fa, .section-b .panel:hover p, .section-b .panel:hover h3{
    color: #fff;
}

/* End OF About Section */



/* Team Section */

#team{
    background: #ffd900
}


#team .image {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
 #team  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #ffd900;
    opacity: 0.4;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
 #team .col-md-4:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  #team .text {
    color: #000;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


/* End Of Team Section */

/* Services */
#services{
    background: #333;
    color: #fff;
}
#services h1{
    margin-bottom: 30px;
}
#services h4{
    margin: 20px;
}
#services .col-md-4{
    margin-top: 40px;
}

#services .panel{
    color: #000;
    padding-bottom: 20px;
    height: 600px;
    
}

#services p{
    font-size: 15px;
    margin: 10px;
    
}




#services .plans a{
    display: flex;
    font-size: 15px;
    text-align: justify;
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
    
    
}
#services .panel:hover{
    background: #333;
    color: #ffd900;
    border-color: #ffd900 !important;
    
}

#services .panel:hover .fa{
    color: #ffd900;
}

/* End OF Services */

/* Quote Section */
#quote{
    background-image: repeating-linear-gradient(to bottom right, #ffd900 10%, #fff 20%);
    
    font-size: 30px
}

#quote h3{
    padding: 120px 0;
}

/* End Of Quote Section */

/* Contact */
#contact .panel{
    padding: 20px 10px;
}
#contact form{
    text-align: justify
}
/* End Of Contact */

/* ------Media Queries------- */

/* Mobile Device Code for Banner */

@media(max-width:420px){
    .header-content h1{
        font-size:35px;
        text-align: center;
        margin-right: 0;
        padding-right: 0;
    }
}
@media(max-width:375px){
    .header-content h1{
        font-size:30px;
        text-align: center
    }
}

/* End of Mobile Device Code for Banner */

/* About Section */
@media(max-width:420px){
    .section-b p{
        font-size:20px;
    }
}
@media(max-width:380px){
    .section-b h1{
        font-size:30px;
    }
}


/* End OF About Section */

/* ------End of Media Queries------ */

/* ---------------------
End Of Index Page
------------------------ */

